<div class="tile">
    <div class="portal">
        <div class="portal-status">
            <div class="portal-status-text">
                {{ portal.status.text }}
            </div>
            <div class="portal-status-dot portal-status-dot-{{ portal.status.color }}"></div>
        </div>
        <div class="portal-header">
            <div class="portal-header-name">{{ portal.platform.name + ' ' + portal.product.name }}</div>
            <div ng-if="portal.version" class="portal-header-version">Version: {{ portal.version }}</div>
        </div>
        <div class="portal-info">
            <div ng-if="portal.status_text" class="portal-info-text">{{ portal.status_text.text }}</div>
            <div ng-if="portal.status_images" class="portal-info-images">{{ portal.status_images.text }}</div>
        </div>
        <div class="portal-type">
            <span ng-if="portal.portal" class="portal-info-cloud">PORTAL</span>
            <span ng-if="!portal.portal" class="portal-info-standalone">STANDALONE</span>
        </div>
    </div>
</div>